
<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-4' 'col-offset-md-6'> <!-- Want to move listing tweets over by 4 units but this happening above th div -->
      <h1>Listing Tweets</h1>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Msg</th>
      <th>User</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.msg %></td>
        <td><%= tweet.user.username %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_logged_in? %>
<%= link_to 'New Tweet', new_tweet_path %>
<% else %>
<%= link_to 'Login', new_login_path %>
<% end %>
