<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

</ul>

<table class="table table-hover">
  <thead>
    <th> Tweets</th>
    <th> Time </th>
  </thead>
  <tbody>
    <% @user.tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.msg %></td>
      <td><%= tweet.updated_at %></td>
    </tr>
  </tbody>
  <% end %>

</table>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
