<!DOCTYPE html>
<html>
<head>
  <title>Twitterscaffold</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div class='row'>
    <div class='col-md-3' 'col-offset-md-1'>
      <%= notice %>
      <%= alert %>
    </div>
  </div>

  <section class=>
    <%= yield %>
  </section>
</div>

<nav>
  <ul class="pager">
    <li><%= link_to('Tweets', tweets_path) %></li>
    <li><%= link_to('Users', users_path) %></li>
  </ul>
</nav>

<nav>
  <footer class="pager">
      <li><%= link_to('Home', root_path) %></li>
  </footer>
</nav>



</body>
</html>
