<!DOCTYPE html>
<html>
<head>
  <title>Twitterscaffold</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div class='row'>
    <div class='col-md-3' 'col-offset-md-1'>
      <%= notice %>
      <%= alert %>
    </div>
  </div>

  <section class=>
    <%= yield %>
  </section>

</div>

</body>
</html>
