<!DOCTYPE html>
<html>
<head>
  <title>Twitterscaffold</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div class='row'>
    <div class='col-md-3' 'col-offset-md-6'>
      <%= notice %>
      <%= alert %>
    </div>
  </div>

  <div class='row'>
      <div class='col-sm-8 col-sm-offset-2'>
        <section>
          <%= yield %>
        </section>
      </div>
  </div>

  <nav>
    <ul class="pager">
      <li><%= link_to('Tweets', tweets_path) %></li>
      <li><%= link_to('Users', users_path) %></li>
    </ul>
  </nav>
  <!-- <p> <%# user_session %> </p> -->

  <%= link_to( "Logout", logout_path, method: :delete) if user_logged_in? %>

  <footer class="pager"> <!-- add ul to this footer -->
    <nav>
      <li><%= link_to('Home', root_path) %></li>
    </nav>
  </footer>

</div>


<p>current_user:<%= @current_user.inspect %><br>
<%= params.inspect if Rails.env.development? %></p>

</body>
</html>
